*~
*.o
*.lo
*.la
.deps
.libs

configure
libtool
GNUmakefile
GNUmakefile.in

/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/config/autoconf/
/config/m4/libtool.m4
/config/m4/ltoptions.m4
/config/m4/ltsugar.m4
/config/m4/ltversion.m4
/config/m4/lt~obsolete.m4

/asc2log
/bcmserver
/can-calc-bit-timing
/canbusload
/candump
/canfdtest
/cangen
/cangw
/canlogserver
/canplayer
/cansend
/cansniffer
/isotpdump
/isotprecv
/isotpsend
/isotpserver
/isotpsniffer
/isotptun
/log2asc
/log2long
/slcan_attach
/slcand
/slcanpty
